@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Roboto:ital,wght@0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 200px;
}

.lateral{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-nav{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style:normal ;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color:black;
    background-color:white;
    margin-top: 20px;
}
.parrafouno{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color:black;
    margin-top: 20px;
    margin-bottom: 0px;
}

footer{
    padding: 30px;
    background-color:black;
}

.icon{
    width: 30px;
    height: 30px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0px;
}

.contancto-im{
    height: 200px;
}

.boxform{
    background: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

.lados{
    margin-left: 30px;
    margin-right: 30px;
}

.enviar{
    margin: 0px 30px 30px 30px
}

.contancto-im{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.dos-imagen{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.tab{
    grid-area: nav;
}

.tprincipal{
    grid-area: tprincipal;
}

.conjuntoambas{
    grid-area: conjuntoambas;
}

.zonaana{
    grid-area: zonaana;
}

.zonamaria{
grid-area: zonamaria;
}

.footer{
    grid-area: footer;
}

.grilla{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr;
    grid-template-areas: 
    "nav           nav"
    "tprincipal    tprincipal"
    "conjuntoambas conjuntoambas" 
    "zonaana       zonaana"   
    "zonamaria     zonamaria"   
    "footer        footer";
}

.flexana{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexmaria{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgizq{
    height: 400px;
}

.imgder{
    height: 400px;
}

.serviciosuno{
    grid-area: v3d;
}

.serviciosdos{
    grid-area: esq;
    background-color: black;
    color: white;
    margin-top: 30px;
}
.serviciostres{
    grid-area: axo;
}

.servicioscuatro{
    grid-area: dosd;
    background-color: black;
    color: white;
    margin-top: 30px;
}

.servicioscinco{
    grid-area: videos;
}

.grilla2{
    display: grid;
    width: 100%;
    height: 100vh;
    text-align: center;
    grid-template-columns: 7fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr;
    grid-template-areas: 
    "nav           nav"
    "tprincipal    tprincipal"
    "v3d           v3d" 
    "esq           esq"   
    "axo           axo"   
    "dosd          dosd" 
    "videos        videos"     
    "footer        footer";
}

.imgser{
    width: 100%;
}

.subtituloblanco{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: black;
    text-align: center;
}

@media(min-width:500px){
    .icon{
        width: 50px;
        height: 50px;
    }

    .contancto-im{
        display: flex;
        justify-content:flex-start;
        height: 350px;
        margin-top: 30px;
    }
}



@media(min-width:768px){

    .icon{
        width: 60px;
        height: 60px;
    }

    .byn{
    background-color: black;
    color: white;
    }

    .serviciosimg:hover{
        transform: scale(1.2);
        transition-property: all;
        transition-duration: 2s;
    }

    h2{
        font-family: 'Roboto', sans-serif;
        font-style:normal ;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        color:black;
        background-color:white;
        margin-top: 20px;
    }

    .parrafouno{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color:black;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .plateral{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 20px;
        text-align:left;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .contancto-im{
        display: flex;
        justify-content:flex-start;
        height: 500px;
        margin-top: 30px;
    }
    .grilla{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "conjuntoambas conjuntoambas" 
        "zonaana       zonaana"   
        "zonamaria     zonamaria"   
        "footer        footer";
    }
    .info{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 15px;
        text-align:center;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .flexana{
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .flexmaria{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .modif{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        background-color: black;
        text-align: center;
    }

    .serviciosuno{
        grid-area: v3d;
        background-color: black;
        color: white;
    }
    
    .serviciosdos{
        grid-area: esq;
        background-color: black;
        color: white;
        margin-top: 0px;
    }
    .serviciostres{
        grid-area: axo;
        background-color: black;
        color: white;
    }
    
    .servicioscuatro{
        grid-area: dosd;
        background-color: black;
        color: white;
        margin-top: 0px;
    }
    
    .servicioscinco{
        grid-area: videos;
        background-color: black;
        color: white;
    }

    .grilla2{
        display: grid;
        width: 100%;
        height: 100vh;
        text-align: center;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "v3d           dosd"  
        "axo           esq"   
        "videos        videos"     
        "footer        footer";
    }

    
    .imgser{
    width: 75%;
    }

    .fblanco{
    background-color: white;
    }
    
    .ajust{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        padding-right: 10%;
    }

}

@media(min-width:1024px){

    .titulop{
        font-family: 'Roboto', sans-serif;
        font-style:normal ;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        text-align:right;
        color:black;
        background-color:white;
        margin-top: 20px;
    }

    .logo{
        height: 300px;
    }

    
    footer{
    padding: 100px;
    background-color:black;
    }

    .icon{
    width: 80px;
    height: 80px;
    }

    .redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

    
}