@import "variableglobal";
@import "footer";
@import "general";
@import "titulos";
@import "media";



    .lateral{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .textosbase{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    .text-nav{
        @extend .textosbase;
        font-weight: 100;
        font-size: 20px;
        text-transform: uppercase;
    }

    .parrafouno{
        @extend .textosbase;
        font-size: 15px;
        text-align: center;
        color: white;
        background-color:black;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .info{
        @extend .textosbase;
        font-size: 12px;
        text-align: center;
        color: $color;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .contancto-im{
        height: 200px;
    }

    .boxform{
        background: black;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .lados{
        margin-left: 30px;
        margin-right: 30px;
    }

    .enviar{
        margin: 0px 30px 30px 30px
    }

    .contancto-im{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }

    .dos-imagen{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }

    .tab{
        grid-area: nav;
    }

    .tprincipal{
        grid-area: tprincipal;
    }

    .conjuntoambas{
        grid-area: conjuntoambas;
    }

    .zonaana{
        grid-area: zonaana;
    }

    .zonamaria{
        grid-area: zonamaria;
    }

    .footer{
        grid-area: footer;
    }

    @mixin size ($width, $hight){
        height: $hight ;
        width: $width;
    }
    .grilla{
        display: grid;
        @include size (100%, 100vh);
        grid-template-columns: 7fr 1fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "conjuntoambas conjuntoambas" 
        "zonaana       zonaana"   
        "zonamaria     zonamaria"   
        "footer        footer";
    }
    
    .flexbase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .flexana{
        @extend .flexbase;
        background-color: black;
        color: white;
    }

    .flexmaria{
        @extend .flexbase;
        margin-bottom: 30px;
    }

    .imgizq{
        height: 400px;
    }

    .imgder{
        height: 400px;
    }

    .serviciosuno{
        grid-area: v3d;
    }

    .serviciosdos{
        grid-area: esq;
        background-color: black;
        color: white;
        margin-top: 30px;
    }
    .serviciostres{
        grid-area: axo;
    }

    .servicioscuatro{
        grid-area: dosd;
        background-color: black;
        color: white;
        margin-top: 30px;
    }

    .servicioscinco{
        grid-area: videos;
    }

    .grilla2{
        display: grid;
        @include size (100%, 100vh);
        text-align: center;
        grid-template-columns: 7fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "v3d           v3d" 
        "esq           esq"   
        "axo           axo"   
        "dosd          dosd" 
        "videos        videos"     
        "footer        footer";
    }

    .imgser{
        width: 100%;
    }

    .subtituloblanco{
        @extend .textosbase;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        background-color: black;
        text-align: center;
    }

@media(min-width:500px){

    .contancto-im{
        display: flex;
        justify-content:flex-start;
        height: 350px;
        margin-top: 30px;
    }
}



@media(min-width:768px){

    .byn{
    background-color: black;
    color: white;
    }

    .serviciosimg:hover{
        transform:scale(1.05, 1.05);
    }



    .parrafouno{
        @extend .textosbase;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color:black;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .plateral{
        @extend .textosbase;
        font-size: 20px;
        text-align:left;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .contancto-im{
        display: flex;
        justify-content:flex-start;
        height: 500px;
        margin-top: 30px;
    }
    .grilla{
        display: grid;
        @include size (100%, 100vh);
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "conjuntoambas conjuntoambas" 
        "zonaana       zonaana"   
        "zonamaria     zonamaria"   
        "footer        footer";
    }
    .info{
        @extend .textosbase;
        font-size: 15px;
        text-align:center;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .flexana{
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
            &:hover{
                box-shadow: #999999 0px 10px 10px;
                transform:scale(1.05, 1.05);
            }
    }
    
    .flexmaria{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
            &:hover{
                box-shadow: #999999 0px 10px 10px;
                transform:scale(1.05, 1.05);
            }
    }

    .modif{
        @extend .textosbase;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        background-color: black;
        text-align: center;
    }

    .serviciosuno{
        grid-area: v3d;
        background-color: black;
        color: white;
    }
    
    .serviciosdos{
        grid-area: esq;
        background-color: black;
        color: white;
        margin-top: 0px;
    }
    .serviciostres{
        grid-area: axo;
        background-color: black;
        color: white;
    }
    
    .servicioscuatro{
        grid-area: dosd;
        background-color: black;
        color: white;
        margin-top: 0px;
    }
    
    .servicioscinco{
        grid-area: videos;
        background-color: black;
        color: white;
    }

    .grilla2{
        display: grid;
        @include size (100%, 100vh);
        text-align: center;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr;
        grid-template-areas: 
        "nav           nav"
        "tprincipal    tprincipal"
        "v3d           dosd"  
        "axo           esq"   
        "videos        videos"     
        "footer        footer";
    }

    
    .imgser{
    width: 75%;
    }

    .fblanco{
    background-color: white;
    }
    
    .ajust{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 10%;
    }

}

@media(min-width:1024px){
    footer{
        padding: 100px;
        background-color:black;
        }

    .icon{
        width: 80px;
        height: 80px;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    .titulop{
        @extend .textosbase;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        text-align:right;
        color: $color;
        background-color:white;
        margin-top: 20px;
    }

    a:hover { font-weight:bold; background-color:gainsboro; color:white; text-decoration:underline; }
    a:active { background-color:gray; padding:10px }
    a:focus {
    color:white;
    text-decoration: underline;
}

}